
<table mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let el" style="padding-right: 20px; text-align: center;"> {{el.index}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef > Title </th>
      <td mat-cell *matCellDef="let el"> {{el.name}}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef> Artist </th>
      <td mat-cell *matCellDef="let el"> {{el.artists[0].name}}  </td>
    </ng-container>

    <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Album </th>
        <td mat-cell *matCellDef="let el"> {{el.album.name}} </td>
    </ng-container>

    <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Popularity </th>
        <td mat-cell *matCellDef="let el"> {{el.popularity}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
</table>